<article class="post">
   
  <div class="title">
    <h3>{{title}}</h3>
    <p>
        {{post.post_text}}
    </p>
    <div>
        Post by {{user.username}} on {{format_date created_at}}
    </div>
  </div>
  <div class="meta">
    
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>